{#
#
# (c) Copyright 2019 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}

{% if (tempest_testable.glance | bool) %}
# Run all glance tests
+tempest.api.image\.*

# This test needs to run serially
-tempest.api.image.v2.test_images.ListSharedImagesTest.test_list_images_param_member_status

# Known failures:
# Those tests fails due to the custom ardana policy
-tempest.api.image.v2.test_images.BasicOperationsImagesTest.test_deactivate_reactivate_image
-tempest.api.image.v2.test_images_member_negative.ImagesMemberNegativeTest.test_image_share_owner_cannot_accept
-tempest.api.image.v2.test_images_member.ImagesMemberTest.test_image_share_accept
-tempest.api.image.v2.test_images_member.ImagesMemberTest.test_image_share_reject
-tempest.api.image.v2.test_images_member.ImagesMemberTest.test_remove_image_member
{% endif %}
