{#
#
# (c) Copyright 2019 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}

{% if (tempest_testable.heat | bool) %}
# Heat tempest plugin tests
+heat_tempest_plugin\.*

# Those tests requires a valid SSL certificate
-heat_tempest_plugin.tests.scenario.test_server_signal.ServerSignalIntegrationTest.test_server_signal_userdata_format_software_config
-heat_tempest_plugin.tests.scenario.test_server_signal.ServerSignalIntegrationTest.test_server_signal_userdata_format_raw

# Error validating value 'heat-net': Unable to find network with name or id 'heat-net'
-heat_tempest_plugin.tests.functional.test_os_wait_condition.OSWaitCondition.test_create_stack_with_multi_signal_waitcondition
-heat_tempest_plugin.tests.functional.test_software_config.ZaqarSignalTransportTest.test_signal_queues
-heat_tempest_plugin.tests.functional.test_encrypted_parameter.EncryptedParametersTest.test_db_encryption
-heat_tempest_plugin.tests.functional.test_software_config.ParallelDeploymentsTest.test_deployments_metadata
-heat_tempest_plugin.tests.functional.test_software_config.ParallelDeploymentsTest.test_deployments_timeout_failed
-heat_tempest_plugin.tests.scenario.test_server_software_config.SoftwareConfigIntegrationTest.test_server_software_config
-heat_tempest_plugin.tests.scenario.test_volumes.VolumeBackupRestoreIntegrationTest.test_cinder_volume_create_backup_restore

# Error validating value 'heat-subnet': Unable to find subnet with name or id 'heat-subnet'
-heat_tempest_plugin.tests.functional.test_lbaasv2.LoadBalancerv2Test.test_add_delete_poolmember
-heat_tempest_plugin.tests.functional.test_lbaasv2.LoadBalancerv2Test.test_create_update_loadbalancer
-heat_tempest_plugin.tests.scenario.test_autoscaling_lbv2.AutoscalingLoadBalancerv2Test.test_autoscaling_loadbalancer_neutron
-heat_tempest_plugin.tests.scenario.test_octavia_lbaas.LoadBalancerTest.test_add_delete_poolmember
-heat_tempest_plugin.tests.scenario.test_octavia_lbaas.LoadBalancerTest.test_create_update_loadbalancer
-heat_tempest_plugin.tests.scenario.test_server_cfn_init.CfnInitIntegrationTest.test_server_cfn_init

# Zaqar is not supported
-heat_tempest_plugin.tests.functional.test_event_sinks.ZaqarEventSinkTest.test_events
-heat_tempest_plugin.tests.functional.test_waitcondition.ZaqarWaitConditionTest.test_signal_queues

# AODH is not supported
-heat_tempest_plugin.tests.scenario.test_aodh_alarm.AodhAlarmTest.test_alarm
{% endif %}
