# {{ ansible_managed }}

## Cluster Assignment
cluster-ceph/cluster/*.sls

## Roles
# ADMIN
role-master/cluster/*.sls
role-admin/cluster/*.sls

# MON
role-mon/cluster/*.sls

# MGR (mgrs are usually colocated with mons)
role-mgr/cluster/*.sls

# MDS
role-mds/cluster/*.sls

# IGW
role-igw/cluster/*.sls

# RGW
role-rgw/cluster/*.sls

# NFS
role-ganesha/cluster/*.sls

{% if ses_version == 6 %}
# Storage
role-storage/cluster/*.sls

# Grafana
role-grafana/cluster/*.sls

# Prometheus
role-prometheus/cluster/*.sls
{% else %}
# openATTIC
role-openattic/cluster/*.sls

## Profiles
profile-default/cluster/*.sls
profile-default/stack/default/ceph/minions/*.yml
{% endif %}

# COMMON
config/stack/default/global.yml
config/stack/default/ceph/cluster.yml
